{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<div class='container mt-4'>

<h1>Reservez !</h1>
{{ form(form) }}

</div>
{% endblock %}
